<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    
    <title>Реєстрація</title>
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="icon" type="image/x-icon" href="../media/favicon.ico">
    <!-- Option A: Loading in head using 'defer' so it runs after HTML parses -->
    <script src="../scripts/script.js" defer></script>
</head>
<body>
    <header>
        <img src="../media/logotype.svg" alt="Logo">
        <h1>PassGen</h1>
    </header>
    <main>
        <h2>Щойно почнемо!</h2>
        
        <div id="switch">
            <button><strong>Увійти</strong></button>
            <button class="disabled"><strong>Зареєструватися</strong></button>
        </div>

        <div>
            <form method="post" action="/" id="log">
                <input type="email" name="email" id="email" placeholder="f*****@gmail.com"  autocomplete="on">
                <input type="password" id="pass" name="password" minlength="8" required placeholder="********" autocomplete="on">
                <button form="log"><strong>Увійти</strong></button>
                <h2>Забули пароль?</h2>
                <button><strong>Скинути</strong></button>
            </form>
        </div>
        
        <form method="post" id="reg" style="display: none;">
            <input type="email" name="email" id="email" placeholder="f*****@gmail.com" autocomplete="on">
            <input type="password" id="pass" name="password" minlength="8" required placeholder="********"  autocomplete="on">
            <input type="password" id="r_pass" name="repeat_password" minlength="8" required placeholder="********" autocomplete="on">
            <button form="reg"><strong>Зареєструватися</strong></button>
        </form>
    </main>
</body>

</html>