<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>Organisations</title>
    <link rel="stylesheet" href="../styles/organisations.css">
    <link rel="icon" type="image/x-icon" href="../media/favicon.ico">
</head>
<body>
    <header>
        <a href="/home"><img src="../media/logotype.svg" alt="Logo"></a>
        <search class="search-panel">
            <form action="/search-results" method="GET">
                <input 
                    type="search" 
                    id="site-search" 
                    name="q" 
                    placeholder="Search information..." 
                    aria-label="Search website content"
                    autocomplete="on" required>
                <input type="image" src="../media/magnifying_glass.svg" alt="Search" />
                
            </form>
        </search>
        <img src="../media/voice_chat_icon.svg">
        <svg width="110" height="100" viewBox="0 0 110 100" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 90V0H50V20H100V60H90V30H50V40H60V50H50V60H60V70H50V80H70V90H0ZM10 80H20V70H10V80ZM10 60H20V50H10V60ZM10 40H20V30H10V40ZM10 20H20V10H10V20ZM30 80H40V70H30V80ZM30 60H40V50H30V60ZM30 40H40V30H30V40ZM30 20H40V10H30V20ZM90 100V90H80V80H90V70H100V80H110V90H100V100H90ZM70 50V40H80V50H70ZM70 70V60H80V70H70Z" fill="#2978A0"/>
        </svg>

    </header>
    <main>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/passwords">Passwords</a></li>
                <li><a href="/groups">Groups</a></li>
                <li id="current"><a href="/organisations">Organisations</a></li>
                <li><a href="/settings">Settings</a></li>
            </ul>
        </nav>
        <div></div>
        <ul>
            <li><a href="#">All organisations</a></li>
            <li><a href="#">Sort by</a></li>
        </ul>
    </main>
    <article class="organisations">
        <article class="organisation">
            <span>
                <h2>Intermediate<sup>TM</sup></h2>
                <span>
                    <h2>Creation date</h2>
                </span>
            </span>
            <span>
                <h2>Size: 3 groups</h2>
                <span>
                    <h2>23-08-2022</h2>
                </span>
            </span>
            <span>
                <input type="image" src="../media/edit.svg" alt="edit">
                <input type="image" src="../media/delete.svg" alt="delete">
            </span>
        </article>
        <article class="organisation">
            <span>
                <h2>Forecast<sup>TM</sup></h2>
                <span>
                    <h2>Creation date</h2>
                </span>
            </span>
            <span>
                <h2>Size: 2 groups</h2>
                <span>
                    <h2>23-08-2023</h2>
                </span>
            </span>
            <span>
                <input type="image" src="../media/edit.svg" alt="edit">
                <input type="image" src="../media/delete.svg" alt="delete">
            </span>
        </article>
        <article class="foreign-organisation">
            <span>
                <h2>Google<sup>TM</sup></h2>
                <h2>Size: 4 groups</h2>
            </span>
            <span>
                <h2>Creation date</h2>
                <h2>23-08-2024</h2>
            </span>
            
        </article>
    </article>
</body>
</html>