<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>Passwords</title>
    <link rel="stylesheet" href="../styles/passwords.css">
    <link rel="icon" type="image/x-icon" href="../media/favicon.ico">
</head>
<body>
    <header>
        <a href="/"><img src="../media/logotype.svg"></a>
        <search class="search-panel">
            <form action="/search-results" method="GET">
                <input 
                    type="search" 
                    id="site-search" 
                    name="q" 
                    placeholder="Search information..." 
                    aria-label="Search website content"
                    autocomplete="on" required>
                <input type="image" src="../media/magnifying_glass.svg" alt="Search" />
                
            </form>
        </search>
        <img src="../media/voice_chat_icon.svg">
        <img src="../media/add_icon.svg">
    </header>
    <main>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li id="current"><a href="/passwords">Passwords</a></li>
                <li><a href="/groups">Groups</a></li>
                <li><a href="/organisations">Organisations</a></li>
                <li><a href="/settings">Settings</a></li>
            </ul>
        </nav>
        <div></div>
        <ul>
            <li><a href="#">All passwords</a></li>
            <li><a href="#">Sort by</a></li>
            <li><a href="#">Strength</a></li>
        </ul>
    </main>
    <article class="passwords">
        <article class="password">
            <span>
                <h2>[Name]</h2>
                <span>
                    <p>●●●●●●●●</p>
                    <input type="image" src="../media/copy.svg" alt="copy">
                </span>
            </span>
            <span>
                <h2>Folder: Work</h2>
                <span>
                    <progress id="strength" max="100" value="70">70%</progress>
                    <h2>Good</h2>
                </span>
            </span>
            <span>
                <input type="image" src="../media/edit.svg" alt="edit">
                <input type="image" src="../media/delete.svg" alt="delete">
            </span>
        </article>
        <article class="password">
            <span>
                <h2>[Name]</h2>
                <span>
                    <p>●●●●●●●●</p>
                    <input type="image" src="../media/copy.svg" alt="copy">
                </span>
            </span>
            <span>
                <h2>Folder: Work</h2>
                <span>
                    <progress id="strength" max="100" value="70">70%</progress>
                    <h2>Good</h2>
                </span>
            </span>
            <span>
                <input type="image" src="../media/edit.svg" alt="edit">
                <input type="image" src="../media/delete.svg" alt="delete">
            </span>
        </article>
        <article class="password">
            <span>
                <h2>[Name]</h2>
                <span>
                    <p>●●●●●●●●</p>
                    <input type="image" src="../media/copy.svg" alt="copy">
                </span>
            </span>
            <span>
                <h2>Folder: Work</h2>
                <span>
                    <progress id="strength" max="100" value="35">70%</progress>
                    <h2>Weak</h2>
                </span>
            </span>
            <span>
                <input type="image" src="../media/edit.svg" alt="edit">
                <input type="image" src="../media/delete.svg" alt="delete">
            </span>
        </article>
    </article>
</body>
</html>