<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>Settings</title>
    <link rel="stylesheet" href="../styles/settings.css">
    <link rel="icon" type="image/x-icon" href="../media/favicon.ico">
</head>
<body>
    <header>
        <a href="/"><img src="../media/logotype.svg"></a>
        <search class="search-panel">
            <form action="/search-results" method="GET">
                <input 
                    type="search" 
                    id="site-search" 
                    name="q" 
                    placeholder="Search information..." 
                    aria-label="Search website content"
                    autocomplete="on" required>
                <input type="image" src="../media/magnifying_glass.svg" alt="Search" />
                
            </form>
        </search>
        <img src="../media/voice_chat_icon.svg">
        <img src="../media/add_icon.svg">
    </header>
    <main>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/passwords">Passwords</a></li>
                <li><a href="/groups">Groups</a></li>
                <li><a href="/organisations">Organisations</a></li>
                <li id="current"><a href="/settings">Settings</a></li>
            </ul>
        </nav>
        <div></div>
        <ul>
            <li><h2>Електронна пошта</h2></li>
            <li><h3>fedosacha02@gmail.com</h3></li>
            <li><h2>Обліковий пароль</h2></li>
            <li><h3>nigde1234#</h3></li>
            <li><h2>План</h2></li>
            <li><h2>Free</h2></li>
        </ul>
    </main>
    <footer><button>Log out</button></footer>
</body>
</html>