*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-dark-slate-grey);
    text-decoration: none;
}


/* Removes the 'X' button from WebKit/Blink browsers (Chrome, Safari, newer Edge, Opera) */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  appearance: none;
  display: none; /* Optional backup to force hidden state */
}

/* Removes the 'X' button from legacy Internet Explorer and Edge */
input[type="search"]::-ms-clear,
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

:root{
    /* Color system */

    /* Primary */
    --primary-color-cerulean: #2978A0;
    --primary-color-sky-reflection: #7AAAC4;
    --primary-golden-earth: #93672D;
    /* Background */
    --background-white: #FFFFFF;
    --background-black: #000000;
    /* Text */
    --text-dark-slate-grey: #315659;
    --text-honey-dew: #D6F0DC;
    /* Border */
    --border-ocean-blue: #3C84A9;
    --background-pale: #93672D;
    --neutral: #D9D9D9;

    --progress-bar-width: 200px;
    --progress-bar-height: 200px;
    --font-size: 2rem;
}

body{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
header{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}
header > search > form > input{
    border: none;
    outline: none;
}
header img{
    width: 50px;
}
form{
    width: 300px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 2px;
    border: solid 3px var(--border-ocean-blue);
    border-radius: 12px;
    padding: 6px 12px;
}
input[type=image]{
    width: 20px;
}
main{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0 10px;
    gap: auto;
}

ul, ol {
  list-style-type: none; /* Removes the markers */
}
nav{
    flex: 0 0 20%;
}
nav > ul > li{
    padding: 6px 12px;
    border: solid 1px var(--border-ocean-blue);
    border-radius: 8px;
    margin-bottom: 8px;
}

li#current{
    background-color: rgba(147, 103, 45, 0.35); 
}

div.circular-progress {
  width: var(--progress-bar-width);
  height: var(--progress-bar-height);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.inner-circle {
  position: absolute;
  width: calc(var(--progress-bar-width) - 50px);
  height: calc(var(--progress-bar-height) - 50px);
  border-radius: 50%;
  background-color: lightgrey;
}

p.percentage {
  position: relative;
  font-size: var(--font-size);
  white-space: pre-line;
  text-align: center;
}

article{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 20px;
}
article > div{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: stretch;
}
article > div > h2{
    text-align: center;
}
article > div:first-child > div{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    border: var(--primary-color-cerulean) 1px solid;
    border-radius: 12px;
    padding: 8px;
    justify-content: space-between;
}
article > div:first-child > div > div{
    display: flex;
    flex-direction: column;
}
article > div:first-child > div > img{
    height: 50px;
}
article > div:first-child > button{
    padding: 24px;
    border-radius: 12px;
    background-color: var(--primary-color-sky-reflection);
    border: none;
    color:var(--text-honey-dew);
    font-size: 1.3em;
}

article ul > li{
    margin-bottom: 12px;
}
article ul > li:first-child{
    text-decoration: line-through;
}
article ul > li:not(:first-child){
    filter: blur(4px);
    user-select: none; /* Prevents copying to read it */
}

section{
    margin: 20px;
}

section > ol{
    margin-top: 24px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
}
section > ol > li{
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    justify-content: space-between;
    gap: 2em;
    margin-left: -10px;

}
section > ol > li > div:first-child{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

section > ol > li:first-child > div > svg:first-child > rect{
    fill: var(--primary-color-cerulean);
}
section > ol > li:not(:first-child) > div > svg:first-child > rect{
    fill: var(--neutral);
}
section > ol > li > div > div{
    flex:1;
    height: 20px;
}

section > ol > li > div > svg:last-child{
    position: relative;
    right: 5px;
    
}
div.level-info > span{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
section > ol > li:first-child > div > div{
    background-color: var(--primary-color-cerulean);
}
section > ol > li:not(:first-child) > div > div{
    background-color: var(--neutral);
}

div.level-info > span > svg{
    fill: var(--primary-color-cerulean);
}



section > ol > li:first-child > div > svg > circle{
    stroke: var(--primary-color-cerulean);
    fill: var(--background-white)
}
section > ol > li:not(:first-child) > div > svg > circle{
    stroke: var(--neutral);
    fill:var(--background-white);
}
div.level-info{
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-end;
}

div.level-info > h2, div.level-info > span > strong{
    font-size: 1em;
}
