*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* Color system */

    /* Primary */
    --primary-color-cerulean: #2978A0;
    --primary-color-sky-reflection: #7AAAC4;
    --primary-golden-earth: #93672D;
    /* Background */
    --background-white: #FFFFFF;
    --background-black: #000000;
    /* Text */
    --text-dark-slate-grey: #315659;
    /* Border */
    --border-ocean-blue: #3C84A9;
}

h1, h2, p, ::placeholder{
    color: var(--text-dark-slate-grey);
}
h1{
    font-size: 2em;
    line-height: 1.5;
}
h2{
    font-size: 2em;
    line-height: 1.35;
    text-align: center;
}
p .base{
    font-size: 2em;
    line-height: 1.2;
}
input::placeholder{
    font-size: 1.5em;
    line-height: 1.1;
    opacity: 0.5;
}
button > strong{
    font-size: 2.4em;
    line-height: 1.4;
}

body{
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 20px;
    gap: 1em;

}

body > div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

header{
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    flex: 1;
    align-items: center;
    justify-content: center;
}
header > div{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
main{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
main > div{
    display: flex;
    flex-flow: column nowrap;
    gap: 0.8em;
}

main div#switch{
    width: 100%;
    display: flex;
    flex-flow: row;
    gap: 0.2em;
    justify-content: center;
}
form{
    display: flex;
    flex-flow: column;
    gap: 1em;
    width: 100%;
}
form > input{
    padding: 3%;
    width: 100%;
}
button, input{
    border-radius: 10px;
    width: 100%;
}
main > form#log{
    width: 100%;
}
button{
    padding: 12px 24px;
    background-color: var(--primary-color-cerulean);
    color: var(--background-white);
    border: none;
}
.disabled{
    background-color: var(--primary-color-sky-reflection);
}

strong.error{
    font-size: 2em;
    color:var(--text-dark-slate-grey);
    white-space: pre-line;
}