*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* Color system */

    /* Primary */
    --primary-color-cerulean: #2978A0;
    --primary-color-sky-reflection: #7AAAC4;
    --primary-golden-earth: #93672D;
    /* Background */
    --background-white: #FFFFFF;
    --background-black: #000000;
    /* Text */
    --text-dark-slate-grey: #315659;
    /* Border */
    --border-ocean-blue: #3C84A9;
}

h1, h2, p, ::placeholder{
    color: var(--text-dark-slate-grey);
}
h1{
    font-size: 2em;
    line-height: 1.5;
}
h2{
    font-size: 2em;
    line-height: 1.35;
    text-align: center;
}
p .base{
    font-size: 2em;
    line-height: 1.2;
}
input::placeholder{
    font-size: 1.5em;
    line-height: 1.1;
    opacity: 0.5;
}
button > strong{
    font-size: 2.4em;
    line-height: 1.4;
}

body, header, main, main > div, form{
    display: flex;
}
body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
}
header, main{
    justify-content: center;
    align-items: center;
}
header{
    flex-direction: row wrap;
    gap: 10px;
    height: 100px;
    width: 100%;
}
main{
    flex-flow: column;
    gap: 1em;
}

main > div:first-of-type{
    width: 100%;
    display: flex;
    flex-flow: row;
    gap: 0.2em;
    justify-content: center;
}
form{
    flex-flow: column;
    gap: 1em;
    width: 100%;
}
form > input{
    padding: 3%;
    width: 100%;
}
button, input{
    border-radius: 10px;
    width: 100%;
}
main > div:last-of-type{
    width: 100%;
}
button{
    padding: 12px 24px;
    background-color: var(--primary-color-cerulean);
    color: var(--background-white);
    border: none;
}
.disabled{
    background-color: var(--primary-color-sky-reflection);
}

